<div class="row" style="background-color:#131619;height: 100vh; z-index: -1;">
    <div class="col-6 login-form">
        <div class="logo mt-5"></div>
        <div class="login-box">
            <h2>Hi There...</h2>
            <h4 style="color:#ABB8C4;padding-bottom: 2rem;">Get started with the appointments..</h4>

            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Full name</label>
                    <div class="input-group">
                        <fa-icon [icon]="faUser" class="input-group-text"></fa-icon>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Adria Rio"
                            formControlName="fullname">
                    </div>
                </div>
                <div class="mb-3 pt-1">
                    <label for="exampleInputPassword1" class="form-label">Email address</label>
                    <div class="input-group">
                        <fa-icon [icon]="faEnvelope" class="input-group-text"></fa-icon>
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="abc@gmail.com"
                            formControlName="email">
                    </div>
                </div>
                <div class="mb-3 pt-1">
                    <label for="exampleInputEmail1" class="form-label">Phone number</label>
                    <div class="input-group">
                        <fa-icon [icon]="faPhone" class="input-group-text"></fa-icon>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="+0000875697"
                            formControlName="phoneNumber">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-4 bg-success">Get Started</button>
            </form>


        </div>
        <div class="row">
            <p class="col-6" style="margin-top: 6rem; color:#76828D;">&#64;carepulse copyright</p>
            <div class="admin col-6 " style="margin-top: 6rem;"></div>
        </div>


    </div>
    <div class="col-6 p-0">
        <div class="image"></div>
    </div>
</div>