.image{
    background-image: url('../../../assets/images/content.png');
    background-size: cover; /* Makes the image cover the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    height: 100vh; /* Full height of the viewport */
    border-radius: 24px;
}
.content{
    border-color: aliceblue;
    border-width: 2px;
    
}
.logo{
    background-image: url('../../../assets/images/Logo.png');
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: left; /* Centers the image */
    background-size: contain;
    height: 40px;
}
.login-form{
    padding: 4rem 7rem;
}
.login-box{
    padding-top: 3rem;
    color: #ffffff;
}