<div class="row mainCard">
    <div class="card col cardStyle" style="margin-left: 68px;">
        <div class="iconText">
            <fa-icon [icon]="faCalendar" class="input-group-text" style="color:yellow; background: none;border: none;"></fa-icon>
            <p class="textClass" style="color: white; text-align: center;">95</p>
        </div>
        <div class="cardText">
           <p>Total number of scheduled appointments</p>
        </div>
      </div>
      <div class="card col cardStyle" style="background-color:#131619">
        <div class="iconText">
            <fa-icon [icon]="faHourglass" class="input-group-text" style="color:blue; background: none;border: none;"></fa-icon>
            <p class="textClass" style="color: white; text-align: center;">95</p>
        </div>
        <div class="cardText">
           <p>Total number of scheduled appointments</p>
        </div>
      </div>
      <div class="card col cardStyle" style="background-color:#131619; margin-right: 68px;">
        <div class="iconText">
            <fa-icon [icon]="faExclamationTriangle" class="input-group-text" style="color:red; background: none;border: none;"></fa-icon>
            <p class="textClass" style="color: white; text-align: center;">95</p>
        </div>
        <div class="cardText">
           <p>Total number of scheduled appointments</p>
        </div>
      </div>
</div>
