<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <div style="color: #ABB8C4; margin-bottom: 10px;">Reason for cancellation</div>
        <textarea rows="5" style="width: 100%; background-color: #1A1D21F5; border-radius: 5px;"
            [placeholder]="placeholderText" formControlName="cancelReason"></textarea>
    </div>
    <div style="width: 100%; margin-top: 30px;">
        <button type="submit" style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">Cancel
            Appointment</button>
    </div>
</form>